<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
    <head>

        <!-- Basic -->
        <meta charset="utf-8">
        <title>Portfolio - Full Width | Porto - Responsive HTML5 Template - 2.7.0</title>
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="Porto - Responsive HTML5 Template - 2.7.0">
        <meta name="author" content="okler.net">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Web Fonts  -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

        <!-- Libs CSS -->
        <link rel="stylesheet" href="{{ asset('themes/porto/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('themes/porto/css/fonts/font-awesome/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('themes/porto/vendor/owl-carousel/owl.carousel.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('themes/porto/vendor/owl-carousel/owl.theme.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('themes/porto/vendor/magnific-popup/magnific-popup.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('themes/porto/vendor/isotope/jquery.isotope.css') }}" media="screen">

        <!-- Theme CSS -->
        <link rel="stylesheet" href="{{ asset('themes/porto/css/theme.css') }}">
        <link rel="stylesheet" href="{{ asset('themes/porto/css/theme-elements.css') }}">
        <link rel="stylesheet" href="{{ asset('themes/porto/css/theme-animate.css') }}">

        <!-- Skin CSS -->
        <link rel="stylesheet" href="{{ asset('themes/porto/css/skins/orange.css') }}">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ asset('themes/porto/css/custom.css') }}">

        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{{ asset('themes/porto/css/theme-responsive.css') }}" />

        <!-- Head Libs -->
        <script src="{{ asset('themes/porto/vendor/modernizr.js') }}"></script>

        <!--[if IE]>
            <link rel="stylesheet" href="{{ asset('themes/porto/css/ie.css') }}">
        <![endif]-->

        <!--[if lte IE 8]>
            <script src="{{ asset('themes/porto/vendor/respond.js') }}"></script>
        <![endif]-->

    </head>
    <body>

        <div class="body">
            <header class="single-menu flat-menu">
                <div class="container">
                    <h1 class="logo">
                        <a href="{{ path('index') }}">
                            <img alt="Porto" src="{{ asset('themes/porto/img/logo.png') }}">
                        </a>
                    </h1>
                    <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="icon icon-bars"></i>
                    </button>
                </div>
                <div class="navbar-collapse nav-main-collapse collapse">
                    <div class="container">
                        <div class="social-icons">
                            <ul class="social-icons">
                                <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
                                <li class="googleplus"><a href="https://plus.google.com/105793995123601856151/posts" target="_blank" title="Google +">Google +</a></li>
                                <li class="skype"><a href="http://www.bitbucket.org/asubit" target="_blank" title="Skype">Skype</a></li>
                                <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
                                <li class="github"><a href="https://github.com/asubit" target="_blank" title="Github">Github</a></li>
                                <li class="mail"><a href="mailto:antoine@subit.fr" target="_blank" title="Mail">Mail</a></li>
                            </ul>
                        </div>
                        <nav class="nav-main mega-menu">
                            <ul class="nav nav-pills nav-main" id="mainMenu">
                                <li><a href="{{ path('index') }}">Accueil</a></li>
                                <li><a href="{{ path('aboutme') }}">A propos</a></li>
                                <li><a href="{{ path('work') }}">Portfolio</a></li>
                                <li><a href="{{ path('contact') }}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
      {% block body %}{% endblock %}
      <section class="call-to-action featured footer">
                <div class="container">
                    <div class="row">
                        <div class="center">
                            <h3>Découvrir mes <strong>créations</strong> et mes <strong>projets</strong> <a href="{{ path('work') }}" class="btn btn-lg btn-primary" data-appear-animation="bounceIn">PORTFOLIO</a> <span class="arrow hlb" data-appear-animation="rotateInUpLeft" style="top: -22px;"></span></h3>
                        </div>
                    </div>
                </div>
            </section>

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="footer-ribon">
                            <span>Entrer en contact</span>
                        </div>
                        <div class="col-md-5">
                            <div class="newsletter">
                                <h4>Laisser votre mail</h4>
                                <p>Laisser moi votre adresse e-mail et je vous recontacterais dans les plus bref délais.</p>

                                <div class="alert alert-success hidden" id="newsletterSuccess">
                                    <strong>Success!</strong> You've been added to our email list.
                                </div>

                                <div class="alert alert-danger hidden" id="newsletterError"></div>

                                <form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Email Address" name="email" id="email" type="text">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">Go!</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-details">
                                <h4>Mes coordonnées</h4>
                                <ul class="contact">
                                    <li><p><i class="icon icon-map-marker"></i> <strong>Address:</strong> 18 rue Paul Cazeneuve</p></li>
                                    <li><p><i class="icon icon-phone"></i> <strong>Phone:</strong> (+33) 6 75 08 47 08</p></li>
                                    <li><p><i class="icon icon-envelope"></i> <strong>Email:</strong> <a href="mailto:antoine@subit.fr">antoine@subit.fr</a></p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Suivez moi</h4>
                            <div class="social-icons">
                                <ul class="social-icons">
                                    <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
                                    <li class="googleplus"><a href="https://plus.google.com/105793995123601856151/posts" target="_blank" title="Google +">Google +</a></li>
                                    <li class="skype"><a href="http://www.bitbucket.org/asubit" target="_blank" title="Skype">Skype</a></li>
                                    <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
                                    <li class="github"><a href="https://github.com/asubit" target="_blank" title="Github">Github</a></li>
                                    <li class="mail"><a href="mailto:antoine@subit.fr" target="_blank" title="Mail">Mail</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <a href="{{ path('index') }}" class="logo">
                                    <img alt="Porto Website Template" class="img-responsive" src="{{ asset('themes/porto/img/logo-footer.png') }}">
                                </a>
                            </div>
                            <div class="col-md-7">
                                <p>© Copyright 2014. Tous droits réservés.</p>
                            </div>
                            <div class="col-md-4">
                                <nav id="sub-menu">
                                    <ul>
                                        <li><a href="page-faq.html">Mentions légales</a></li>
                                        <li><a href="sitemap.html">Plan du site</a></li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Libs -->
        <script src="{{ asset('themes/porto/vendor/jquery.js') }}"></script>
        <script src="{{ asset('themes/porto/js/plugins.js') }}"></script>
        <script src="{{ asset('themes/porto/vendor/jquery.easing.js') }}"></script>
        <script src="{{ asset('themes/porto/vendor/jquery.appear.js') }}"></script>
        <script src="{{ asset('themes/porto/vendor/jquery.cookie.js') }}"></script>

        <script src="{{ asset('themes/porto/vendor/bootstrap.js') }}"></script>
        <script src="{{ asset('themes/porto/vendor/twitterjs/twitter.js') }}"></script>
        <script src="{{ asset('themes/porto/vendor/owl-carousel/owl.carousel.js') }}"></script>
        <script src="{{ asset('themes/porto/vendor/jflickrfeed/jflickrfeed.js') }}"></script>
        <script src="{{ asset('themes/porto/vendor/magnific-popup/magnific-popup.js') }}"></script>
        <script src="{{ asset('themes/porto/vendor/jquery.validate.js') }}"></script>
        <script src="{{ asset('themes/porto/vendor/isotope/jquery.isotope.js') }}"></script>

        <!-- Theme Initializer -->
        <script src="{{ asset('themes/porto/js/theme.js') }}"></script>

        <!-- Custom JS -->
        <script src="{{ asset('themes/porto/js/custom.js') }}"></script>

        <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-12345678-1']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
         -->

    </body>
</html>
