{% extends '::base.html.twig' %}

{% block body -%}
<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}">Accueil</a></li>
                    <li class="active">Contact</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Contact</h2>
            </div>
        </div>
    </div>
</section>

<!-- Google Maps -->
<div id="googlemaps" class="google-map hidden-xs">
    <iframe width="1900" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Lyon+8,+Lyon&amp;aq=0&amp;oq=lyon&amp;sll=45.317723,5.43724&amp;sspn=5.639172,9.876709&amp;ie=UTF8&amp;hq=&amp;hnear=8e+Arrondissement,+Lyon,+Rh%C3%B4ne,+Rh%C3%B4ne-Alpes&amp;ll=45.734822,4.868139&amp;spn=0.043733,0.077162&amp;t=m&amp;z=14&amp;output=embed"></iframe>
</div>

    <div class="container">

        <div class="row">
            <div class="col-md-6">

                {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success hidden" id="contactSuccess">
                    <strong>Succès!</strong> {{ flashMessage }}.
                </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger hidden" id="contactError">
                    <strong>Erreur!</strong> {{ flashMessage }}.
                </div>
                {% endfor %}

                <h2 class="short"><strong>Contactez</strong> Moi</h2>
                <form action="{{ path('contact_envoi') }}" id="contactForm" type="post">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Nom *</label>
                                <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name">
                            </div>
                            <div class="col-md-6">
                                <label>Email *</label>
                                <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Sujet</label>
                                <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Message *</label>
                                <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Envoyer" class="btn btn-primary btn-lg" data-loading-text="Loading...">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">

                <h4 class="push-top">En savoir <strong>plus</strong></h4>
                <p>
                    Actuellement en poste mais toujours à l'écoute d'opportunité je suis diponible directement par mail au par le formulaire de contact si présent.<br>
                    Pour toutes remarques, commentaires ou renseignement complémentaire pour pouvez également me joindre par téléphone.</p>
                <hr />

                <h4>Mes <strong>Coordonnées</strong></h4>
                <ul class="list-unstyled">
                    <li><i class="icon icon-map-marker"></i> <strong>Addresse:</strong> Lyon 8ème, FRANCE</li>
                    <li><i class="icon icon-phone"></i> <strong>Téléphone:</strong> (+33) 6 75 08 47 08</li>
                    <li><i class="icon icon-envelope"></i> <strong>Email:</strong> <a href="mailto:antoine@subit.fr">antoine@subit.fr</a></li>
                </ul>

                <hr />

                <h4>Rejoingnez <strong>mon réseau</strong></h4>
                <ul class="list-unstyled">
                    <li><i class="icon icon-stack-overflow"></i> <a href="http://stackoverflow.com/users/2790959/antoinesubit">Stack Overflow</a></li>
                    <li><i class="icon icon-google-plus-square"></i> <a href="https://plus.google.com/u/0/+AntoineSubit/posts">Google +</a></li>
                    <li><i class="icon icon-github-square"></i> <a href="https://github.com/asubit">GitHub</a></li>
                    <li><i class="icon icon-linkedin-square"></i> <a href="fr.linkedin.com/pub/antoine-subit/45/336/872/">LinkedIn</a></li>
                </ul>
                {% if name is defined %}{{ name }}<br>{% endif %}
                {% if email is defined %}{{ email }}<br>{% endif %}
                {% if message is defined %}{{ message }}<br>{% endif %}
                {% if subject is defined %}{{ subject }}{% endif %}

            </div>

        </div>

    </div>

</div>
{% endblock %}
