{% extends '::base.html.twig' %}

{% block body -%}
<div role="main" class="main">
	<div id="content" class="content full">

		<div class="slider-container">
			<div class="slider" id="revolutionSlider">
				<ul>
					<li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

						<img src="{{ asset('themes/porto/img/slides/slide-bg.jpg') }}" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

						<div class="tp-caption sft stb visible-lg"
							 data-x="72"
							 data-y="180"
							 data-speed="300"
							 data-start="1000"
							 data-easing="easeOutExpo"><img src="{{ asset('themes/porto/img/slides/slide-title-border.png') }}" alt=""></div>

						<div class="tp-caption top-label lfl stl"
							 data-x="122"
							 data-y="180"
							 data-speed="300"
							 data-start="500"
							 data-easing="easeOutExpo">DO YOU NEED A NEW</div>

						<div class="tp-caption sft stb visible-lg"
							 data-x="372"
							 data-y="180"
							 data-speed="300"
							 data-start="1000"
							 data-easing="easeOutExpo"><img src="{{ asset('themes/porto/img/slides/slide-title-border.png') }}" alt=""></div>

						<div class="tp-caption main-label sft stb"
							 data-x="30"
							 data-y="210"
							 data-speed="300"
							 data-start="1500"
							 data-easing="easeOutExpo">WEB DESIGN?</div>

						<div class="tp-caption bottom-label sft stb"
							 data-x="80"
							 data-y="280"
							 data-speed="500"
							 data-start="2000"
							 data-easing="easeOutExpo">Check out our options and features.</div>

						<div class="tp-caption randomrotate"
							 data-x="800"
							 data-y="248"
							 data-speed="500"
							 data-start="2500"
							 data-easing="easeOutBack"><img src="{{ asset('themes/porto/img/slides/slide-concept-2-1.png') }}" alt=""></div>

						<div class="tp-caption sfb"
							 data-x="850"
							 data-y="200"
							 data-speed="400"
							 data-start="3000"
							 data-easing="easeOutBack"><img src="{{ asset('themes/porto/img/slides/slide-concept-2-2.png') }}" alt=""></div>

						<div class="tp-caption sfb"
							 data-x="820"
							 data-y="170"
							 data-speed="700"
							 data-start="3150"
							 data-easing="easeOutBack"><img src="{{ asset('themes/porto/img/slides/slide-concept-2-3.png') }}" alt=""></div>

						<div class="tp-caption sfb"
							 data-x="770"
							 data-y="130"
							 data-speed="1000"
							 data-start="3250"
							 data-easing="easeOutBack"><img src="{{ asset('themes/porto/img/slides/slide-concept-2-4.png') }}" alt=""></div>

						<div class="tp-caption sfb"
							 data-x="500"
							 data-y="80"
							 data-speed="600"
							 data-start="3450"
							 data-easing="easeOutExpo"><img src="{{ asset('themes/porto/img/slides/slide-concept-2-5.png') }}" alt=""></div>

						<div class="tp-caption blackboard-text lfb "
							 data-x="530"
							 data-y="300"
							 data-speed="500"
							 data-start="3450"
							 data-easing="easeOutExpo" style="font-size: 37px;">Think</div>

						<div class="tp-caption blackboard-text lfb "
							 data-x="555"
							 data-y="350"
							 data-speed="500"
							 data-start="3650"
							 data-easing="easeOutExpo" style="font-size: 47px;">Outside</div>

						<div class="tp-caption blackboard-text lfb "
							 data-x="580"
							 data-y="400"
							 data-speed="500"
							 data-start="3850"
							 data-easing="easeOutExpo" style="font-size: 32px;">The box :)</div>
					</li>
					<li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >

						<img src="{{ asset('themes/porto/img/slides/slide-bg.jpg') }}" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

							<div class="tp-caption fade"
								 data-x="50"
								 data-y="100"
								 data-speed="1500"
								 data-start="500"
								 data-easing="easeOutExpo"><img src="{{ asset('themes/porto/img/slides/slide-concept.png') }}" alt=""></div>

							<div class="tp-caption blackboard-text fade "
								 data-x="180"
								 data-y="180"
								 data-speed="1500"
								 data-start="1000"
								 data-easing="easeOutExpo" style="font-size: 30px;">easy to</div>

							<div class="tp-caption blackboard-text fade "
								 data-x="180"
								 data-y="220"
								 data-speed="1500"
								 data-start="1200"
								 data-easing="easeOutExpo" style="font-size: 40px;">customize!</div>

							<div class="tp-caption main-label sft stb"
								 data-x="580"
								 data-y="190"
								 data-speed="300"
								 data-start="1500"
								 data-easing="easeOutExpo">DESIGN IT!</div>

							<div class="tp-caption bottom-label sft stb"
								 data-x="580"
								 data-y="250"
								 data-speed="500"
								 data-start="2000"
								 data-easing="easeOutExpo">Create slides with brushes and fonts.</div>



					</li>
				</ul>
			</div>
		</div>

		<div class="home-intro">
			<div class="container">

				<div class="row">
					<div class="col-md-8">
						<p>
							J'ai à coeur de travailler jour après jour sur des projets <em>innovants</em>, unique et adapté au besoins du client.
							<span>Pour moi le développement d'application web spécifique est une passion.</span>
						</p>
					</div>
					<div class="col-md-4">
						<div class="get-started">
							<a href="#" class="btn btn-lg btn-primary">PORTFOLIO</a>
							<div class="learn-more">ou <a href="index.html">voir mon parcours.</a></div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="container">

			<div class="row center">
				<div class="col-md-12">
					<h2 class="short word-rotator-title">
						Je suis
						<strong class="inverted">
							<span class="word-rotate">
								<span class="word-rotate-items">
									<span>dynamique</span>
									<span>motivé</span>
									<span>curieux</span>
									<span>passionné</span>
									<span>autonome</span>
									<span>patient</span>
									<span>sympa</span>
								</span>
							</span>
						</strong>
						autant que j'aime travailler en équipe.
					</h2>
					<p class="featured lead">
						Le partage des connaissances de chaqu'un est le meilleur moteur d'une équipe.<br>
						J'ai également à coeur de travailler avec des outils <em>Open Source</em> fiables et puissants.
					</p>
				</div>
			</div>

		</div>

		<div class="home-concept">
			<div class="container">

				<div class="row center">
					<span class="sun"></span>
					<span class="cloud"></span>
					<div class="col-md-2 col-md-offset-1">
						<div class="process-image" data-appear-animation="bounceIn">
							<img src="{{ asset('themes/porto/img/home-concept-item-1.png') }}" alt="" />
							<strong>Wordpress</strong>
						</div>
					</div>
					<div class="col-md-2">
						<div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
							<img src="{{ asset('themes/porto/img/home-concept-item-2.png') }}" alt="" />
							<strong>Prestashop</strong>
						</div>
					</div>
					<div class="col-md-2">
						<div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
							<img src="{{ asset('themes/porto/img/home-concept-item-3.png') }}" alt="" />
							<strong>Drupal</strong>
						</div>
					</div>
					<div class="col-md-4 col-md-offset-1">
						<div class="project-image">
							<div id="fcSlideshow" class="fc-slideshow">
								<img class="img-responsive" src="{{ asset('themes/porto/img/projects/project-home-1.png') }}" />
							</div>
							<strong class="our-work">Symfony2</strong>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="container">

			<div class="row">
				<hr class="tall" />
			</div>

		</div>

		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<h2>Mes <strong>compétences</strong></h2>
					<div class="row">
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon icon-html5"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">HTML5 / CSS3 / JS</h4>
									<p class="tall">Grâce à ces 3 languages combiné il est désormais possible de donner vie aux sites comme jamais auparavant !</p>
								</div>
							</div>
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon icon-code"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">PHP / MySQL / POO</h4>
									<p class="tall">Dans un avenir proche le PHP sera devenu un language objet complet et performant. C'est l'avenir des Web Applications.</p>
								</div>
							</div>
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon icon-arrows-alt"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Responsive Design</h4>
									<p class="tall">Impossible de passer à coté du responsive. C'est presque devenu un standard depuis l'apparition des tablettes.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon icon-terminal"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Admin. système</h4>
									<p class="tall">VirtualHost, WebMin, LAMP Server, Fail2Ban, IP Tables, Mail, ... Autant d'utilitaires indispensables!</p>
								</div>
							</div>
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon icon-file-text"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">IDE</h4>
									<p class="tall">SublimeText et NetBeans sont mes 2 IDE favoris et plus partuculièrement Sublime avec son système de module (Type Zen Coding).</p>
								</div>
							</div>
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon icon-code-fork"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Versionning</h4>
									<p class="tall">Mercurial et Git avec SmartGit/Hg et SVN avec TortoïseSVN. Tels sont les outils indispensables pour travailler en équipe efficacement.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon icon-ellipsis-h"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Simplicité</h4>
									<p class="tall">Allez au plus simple est essentiel pour dégager des fonctionalités performantes, compréhansible par tous et réutilisables.</p>
								</div>
							</div>
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon icon-coffee"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Performance</h4>
									<p class="tall">Utiliser des outils puissants pour réaliser des programmes perfomants de qualité.</p>
								</div>
							</div>
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="icon icon-briefcase"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="shorter">Professionnalisme</h4>
									<p class="tall">Associer les connaissances techniques aux bonnes pratiques du web permet de réaliser des projets aboutis et pérennes.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- / container -->

		<section class="featured highlight footer">
			<div class="container">
				<div class="row center counters">
					<div class="col-md-3">
						<strong data-to="456874">0</strong>
						<label>Lignes de codes</label>
					</div>
					<div class="col-md-3">
						<strong data-to="1991">0</strong>
						<label>Né en</label>
					</div>
					<div class="col-md-3">
						<strong data-to="352">0</strong>
						<label>Cafés</label>
					</div>
					<div class="col-md-3">
						<strong data-to="3">0</strong>
						<label>Années d'expérience</label>
					</div>
				</div>
			</div>
		</section>

		<section class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/parallax-transparent.jpg);">
			<div class="container">
				<div class="row center">
					<div class="col-md-12">

						<div class="row">
							<div class="owl-carousel" data-plugin-options='{"items": 1}'>
								<div>
									<blockquote>
										<p><i class="icon icon-quote-left"></i> L'art de la simplicité est un casse-tête de la complexité.</p>
										<span>- Doug Horton</span>
									</blockquote>
								</div>
								<div>
									<blockquote>
										<p><i class="icon icon-quote-left"></i> Mon point fort, si j’en ai un, c’est la performance. J’en fais toujours plus que ce que je dis. Je produis toujours plus que ce que je promets.</p>
										<span>- Richard Nixon</span>
									</blockquote>
								</div>
								<div>
									<blockquote>
										<p><i class="icon icon-quote-left"></i> Le professionnalisme est une maladie qui vient aux gens par leur métier, par la maîtrise qu’ils en ont, qui les asservit.</p>
										<span>- Christian Bobin</span>
									</blockquote>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}