{% extends '::base.html.twig' %}

{% block body -%}
    <div role="main" class="main">

        <section class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="{{ path('index') }}">Accueil</a></li>
                            <li class="active">Portfolio</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Tous les projets</h2>
                    </div>
                </div>
            </div>
        </section>

        <div class="sort-source-wrapper">
            <div class="container">
                <ul class="nav nav-pills sort-source secundary pull-right" data-sort-id="portfolio" data-option-key="filter">
                    <li data-option-value="*" class="active"><a href="#">Tous</a></li>
                    {% for category in categories %}
                    <li data-option-value=".{{ category.nameCanonical }}"><a href="#">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <ul class="portfolio-list sort-destination full-width" data-sort-id="portfolio">
            {% for entity in entities %}
            <li class="isotope-item {{ entity.category.nameCanonical }}">
                <div class="portfolio-item img-thumbnail">
                    <a href="{{ path('work_show', { 'id': entity.id }) }}" class="thumb-info secundary">
                        <img alt="" class="img-responsive" src="{{ asset('images/') }}{{ entity.thumbnail }}">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">{{ entity.name }}</span>
                            <span class="thumb-info-type">{{ entity.tool }}</span>
                        </span>
                        <span class="thumb-info-action">
                            <span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon icon-link"></i></span>
                        </span>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}
